body {
//    background: #3D588F url(http://ickewiki.de/lib/tpl/ickewiki/images/wall4.jpg) no-repeat fixed 50% 50%;
}

#dokuwiki__site {
    background-color: rgba(255,255,255,0.5);
//    opacity: 0.6;
}


// temporary
#dokuwiki__header {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.15, rgba(230,227,230,0.5)),
        color-stop(0.7, rgba(194,194,194,0.5))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgba(230,227,230,0.5) 15%,
        rgba(194,194,194,0.5) 70%
    );
}
