/**************************************************
This file provides styles for footnotes.
**************************************************/

/*____________ footnotes inside the text ____________*/

/* link to footnote inside text */
.dokuwiki a.fn_top {
    font-size: .9em;
}
/* JSpopup */
div.insitu-footnote {
    max-width: 40%;    /* IE's width is handled in javascript */
}
/* TODO: check -> */
/* overcome IE issue with one line code or file boxes which require h. scrolling */
* html .insitu-footnote pre.code, * html .insitu-footnote pre.file {
    padding-bottom: 18px;
}


/*____________ footnotes at the bottom of the page ____________*/

.dokuwiki div.footnotes {
    border-top: 1px solid __border__;
    padding: .5em 0 0 0;
    margin: 1em 0 0 0;
    clear: both;
}
.dokuwiki div.footnotes div.fn {
    font-size: .9em;
}
.dokuwiki div.footnotes div.fn a.fn_bot {
    font-weight: bold;
}
