/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */



.dokuwiki div.breadcrumbs {
    font-size: 90%;
}
.dokuwiki div.breadcrumbs a {
    color: __existing__;
    background-color: inherit;
}


/* content
********************************************************************/

.dokuwiki div.page {
}

/* license note in footer and under edit window */
.dokuwiki div.license {
    font-size: 90%;
}


/*____________ JS popup ____________*/

.JSpopup {
    background-color: __background_alt__;
    color: __text__;
    border: 1px solid __border__;
    line-height: 1.2;
    padding: 0 .2em;
}

.JSpopup ul,
.JSpopup ol {
    padding-left: 0;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-top: 1.4em;
    margin-bottom: 2.8em;
}

#dokuwiki__footer .doc {
    font-size: 90%;
}
#dokuwiki__footer .doc {
    float: left;
}
#dokuwiki__footer .top {
    float: right;
}
#dokuwiki__footer .license {
    clear: both;
}
#dokuwiki__footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}

