/**
 * This file provides styles for included seperate html files
 * (added through "include hooks").
 */

/* footer.html
********************************************************************/

div.footerinc {
    text-align: center;
}
.footerinc a img {
    opacity: 0.5;
    border: 0;
}

.footerinc a:hover img {
    opacity: 1;
}
