/* page tools
 * ********************************************************************/

#dokuwiki__site .wrapper {
    padding-right: 30px;
}

#dokuwiki__pagetools {
    position: absolute;
    right: 0;
    top: .5em;
    font-size: 90%;
}

#dokuwiki__pagetools div.tools {
    position: fixed;
}

#dokuwiki__pagetools ul {
    position: absolute;
    right: 0;
    width: 24px;
    overflow: hidden;
    border: 1px solid __border__;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: __background__;
    color: inherit;
}

#dokuwiki__pagetools:hover ul,
#dokuwiki__pagetools:focus ul {
    width: auto;
    background-color: __background_alt__;
}

#dokuwiki__pagetools ul li {
    padding: 2px;
    margin: 0;
    list-style: none;
}
#dokuwiki__pagetools:hover ul li,
#dokuwiki__pagetools:focus ul li {
    padding: 2px 4px;
}

#dokuwiki__pagetools ul li a {
    white-space: nowrap;
    background-repeat: no-repeat;
    padding-right: 0;
    padding-left: 24px;
    background-position: 2px center;
}

#dokuwiki__pagetools:hover ul li a,
#dokuwiki__pagetools:focus ul li a {
    padding-right: 24px;
    padding-left: 0;
    background-position: right center;
}


#dokuwiki__pagetools ul li a.edit {
    background-image: url(images/pagetools/pencil.png);
}
#dokuwiki__pagetools ul li a.show {
    background-image: url(images/pagetools/page.png);
}
#dokuwiki__pagetools ul li a.create {
    background-image: url(images/pagetools/pencil_add.png);
}
#dokuwiki__pagetools ul li a.draft {
    background-image: url(images/pagetools/inbox-document-text.png);
}
#dokuwiki__pagetools ul li a.source {
    background-image: url(images/pagetools/page_code.png);
}

#dokuwiki__pagetools ul li a.revs {
    background-image: url(images/pagetools/time.png);
}

#dokuwiki__pagetools ul li a.backlink {
    background-image: url(images/pagetools/arrow_redo.png);
}

#dokuwiki__pagetools ul li a.subscribe {
    background-image: url(images/pagetools/email_star.png);
}

#dokuwiki__pagetools ul li a.top {
    background-image: url(images/pagetools/arrow_up.png);
}

