#dokuwiki__sitetools a {
    font-size: 90%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
}

#dokuwiki__sitetools a.recent {
    background-image: url('images/sitetools/calendar_view_day.png');
}

#dokuwiki__sitetools a.index {
    background-image: url('images/sitetools/document-tree.png');
}



