
body {
    margin: 0 auto;
    text-align: center;
}
#dokuwiki__site {
    text-align: left;
    margin: 0 auto;
    width: auto;
    max-width: 960px;
    /* @todo min-width: */
}
#dokuwiki__site .dokuwiki {
    padding: 1em;
    margin-right: 20px;
}

#dokuwiki__header {
    margin-bottom: 1em;
}
#dokuwiki__header .pad {
}
    #dokuwiki__header .headings {
        float: left;
    }
    #dokuwiki__header .tools {
        float: right;
        text-align: right;
    }
    #dokuwiki__header .tools li {
        display: inline;
    }

.wrapper {
    position: relative;
    margin-bottom: 1em;
}
#dokuwiki__aside {
    width: 250px;
    float: left;
    position: relative;
}
#dokuwiki__aside .pad {
    padding: 0;
    margin: 0 1em 1em 0;
}

#dokuwiki__content {
    float: right;
    margin-left: -250px;
    width: 100%;
}
#dokuwiki__content .pad {
    margin-left: 250px;
}

#dokuwiki__footer {
    clear: both;
}
#dokuwiki__footer .pad {
}
