/*
TODO:
  * float clearing problem (hx) -- when content is flexible
  * other problems with .wrapper2 absolute

*/

body {
    margin: 0 auto;
    text-align: center;
}
body #dokuwiki__site {
    text-align: left;
    margin: 0 auto;
}

#dokuwiki__site {
    width: auto;
    max-width: 1240px;
    /* @todo min-width: */
}
#dokuwiki__site .pad {
    padding: 10px;
}

#dokuwiki__header {
    margin-bottom: 10px;
}
#dokuwiki__header .pad {
    padding: 10px;
}

.wrapper {
    position: relative;
    margin-bottom: 10px;
    zoom: 1;
}
#dokuwiki__sidebar {
    width: 250px;
    float: left;
    position: relative;
    zoom: 1;
}
#dokuwiki__sidebar .pad {
    padding: 0;
}

#dokuwiki__content {
    float:right;
    margin-left:-250px;
    width:100%;
}
#dokuwiki__content .pad {
    padding: 10px;
    margin-left:260px;
}





#dokuwiki__include {
    padding: 10px;
}
#dokuwiki__include .pad {
}

#dokuwiki__controls {
    padding: 10px;
}
.dokuwiki__controls {
}

/*
#dokuwiki__pagetools {
    float: left;
}
#dokuwiki__sitetools {
    float: right;
}
#dokuwiki__usertools {
    clear: both;
}
#dokuwiki__usertools .action {
    float: left;
}
#dokuwiki__usertools .user {
    float: right;
}
*/


#dokuwiki__footer {
    clear: both;
}
#dokuwiki__footer .pad {
    padding: 10px;
}


#dokuwiki__site {
    background-color: #ccc;
}
#dokuwiki__header,
#dokuwiki__include,
#dokuwiki__controls,
#dokuwiki__content .pad,
#dokuwiki__footer {
    background-color: #fff;
}
