#dokuwiki__usertools {
    margin-bottom: 2.5em;
}

#dokuwiki__usertools a {
    font-size: 90%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
}

#dokuwiki__usertools a.admin {
    background-image: url('images/usertools/wrench.png');
}

#dokuwiki__usertools a.profile {
    background-image: url('images/usertools/user.png');
}

#dokuwiki__usertools a.login {
    background-image: url('images/usertools/door_in.png');
}

#dokuwiki__usertools a.logout {
    background-image: url('images/usertools/door_out.png');
}




